body {
  margin: 0; 
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
pre {
  font-size: 7em;
}

/*to select all line elements that are children of elements with class "tick"*/
.marks .sphere {
  fill: #fbfbfb;
}
.marks .land {
  fill: #ececec;
}
.marks .interiors {
  fill: none;
  stroke: #c3c3c3;
}
.marks .graticules, .tick line {
  fill: none;
  stroke: #b4bdc130;
}
circle {
  fill: #137880;
  opacity: 0.2;
}
.tick text {
  fill: #635F5D;
  font-size: 0.5em;
}
.marks rect {
  fill: #137880;
}
.axis-label {
  font-size: 0.5em;
  fill: #635F5D;
}
.container {
  position: relative;
}
.title-text {
  font-family: 'Noto Serif SC';
  font-weight: 600;
  position: absolute;
  max-width: 600px;
  font-size: 3.7em;
  top: 5px;
  left: 20px;
}
.subtitle-text {
  font-family: 'Noto Serif SC';
  font-weight: 400;
  position: absolute;
  max-width: 600px;
  line-height: 1.5em;
  font-size: 0.9em;
  top: 85px;
  left: 20px;
}